[Unit]
Description=FastAPI Ingestion Server
After=network.target
Requires=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/EDGE/EDGE/Project/ingestion
ExecStart=/home/ubuntu/EDGE/.venv/bin/uvicorn server:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5s
Environment="PYTHONUNBUFFERED=1"
StandardOutput=file:/home/ubuntu/EDGE/EDGE/Project/logs/ingestion.log
StandardError=file:/home/ubuntu/EDGE/EDGE/Project/logs/ingestion_error.log

[Install]
WantedBy=multi-user.target